/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * GreetingsFromEarth implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to HTML elements you create (in Game.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

/* Note: you must not use any @import directive */

/********* You can start writing your CSS below this line: **********/

.gfe-sheet {
  position: relative;
  width: 900px;
  aspect-ratio: 3509 / 2488;
  background-image: url("img/berlin_map.jpg");
  background-size: cover;
  margin: 0 auto;
}

.gfe-play-grid {
  position: absolute;
  top: 22%;
  left: 21.2%;
  width: 55.8%;
  height: 57.1%;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.gfe-play-grid-interactive .gfe-cell {
  cursor: pointer;
}

.gfe-play-grid-interactive .gfe-cell:hover {
  background: rgba(255, 255, 0, 0.3);
}

.gfe-cell {
  /* border: 1px solid rgba(255, 0, 0, 0.3); */
  box-sizing: border-box;
}

.gfe-dice-indicator {
  position: absolute;
  width: 3.5%;
  height: 5%;
  border: 8px solid yellow;
  border-radius: 8px;
  animation: keyframe-dice-blink 1.5s linear infinite;
}

@keyframes keyframe-dice-blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

/* Positions for the dice indicators */

.gfe-dice-1 {
  top: 5%;
  left: 85.8%;
}

.gfe-dice-2 {
  top: 12%;
  left: 94.3%;
  transform: rotate(60deg);
}

.gfe-dice-3 {
  top: 25.5%;
  left: 94.3%;
  transform: rotate(120deg);
}

.gfe-dice-4 {
  top: 32.5%;
  left: 85.9%;
}

.gfe-dice-5 {
  top: 25.6%;
  left: 77.5%;
  transform: rotate(60deg);
}

.gfe-dice-6 {
  top: 12%;
  left: 77.4%;
  transform: rotate(120deg);
}

.gfe-cell-preview {
  border: 3px solid black;
}

.gfe-cell-preview-valid {
  background: rgba(0, 128, 0, 0.25);
}

.gfe-cell-preview-illegal {
  background: rgba(255, 0, 0, 0.25);
}

.gfe-cell-placed {
  background: rgba(80, 120, 200, 0.6);
  border: 1px solid #333;
}

/* Monument and Collection track styles */

.gfe-monument-collection-track {
  position: absolute;
  top: 82%;
  left: 2%;
  width: 52%;
  height: 14%;
  pointer-events: none;
  border: solid 2px red;
}

.gfe-collection-track-circle {
  position: absolute;
  width: 3.9%;
  height: 19.7%;
  border-radius: 50%;
  background: rgba(255, 255, 0, 0.25);
  border: 4px solid black;
}

.gfe-collection-score {
  position: absolute;
  width: 6%;
  height: 29%;
  top: 59.4%;
  left: 75.9%;
  transform: rotate(1.5deg);
}

.gfe-monument-track-circle {
  position: absolute;
  width: 3.9%;
  height: 19.7%;
  border-radius: 50%;
  background: rgba(255, 255, 0, 0.25);
  border: 4px solid black;
}

.gfe-monument-score {
  position: absolute;
  width: 6%;
  height: 29%;
  top: 20.4%;
  left: 75.9%;
  transform: rotate(1.5deg);
}

.gfe-monument-collection-score {
  position: absolute;
  width: 8%;
  height: 29%;
  top: 42%;
  left: 86.5%;
  transform: rotate(1.5deg);
}

.gfe-track-score {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ad40ad;
  text-align: center;
}

/* UFO and Must-see track styles */

.gfe-ufo-mustsee-track {
  position: absolute;
  top: 82%;
  left: 57.2%;
  width: 41%;
  height: 14%;
  pointer-events: none;
  border: solid 2px blue;
}

.gfe-ufo-track-circle {
  position: absolute;
  width: 4.9%;
  height: 19.7%;
  border-radius: 50%;
  background: rgba(255, 255, 0, 0.25);
  border: 4px solid black;
}

.gfe-ufo-score {
  position: absolute;
  width: 6%;
  height: 29%;
  top: 57.4%;
  left: 57.9%;
  transform: rotate(-1.5deg);
}

.gfe-mustsee-track-circle {
  position: absolute;
  width: 3.4%;
  height: 14.5%;
  border-radius: 50%;
  background: rgba(255, 255, 0, 0.25);
  border: 4px solid black;
}

.gfe-mustsee-score {
  position: absolute;
  width: 6%;
  height: 29%;
  top: 14.4%;
  left: 57.5%;
  transform: rotate(-1.5deg);
}

.gfe-track-score-orange {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #de9047;
  text-align: center;
}

/* Street art */

.gfe-street-art-choose {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  top: 44.9%;
  left: 80.4%;
  width: 15%;
  height: 25.8%;
  border: solid 2px green;
  transform: rotate(1.5deg);
}

.gfe-street-art-choose-cell {
  width: 100%;
  height: 100%;
  border: 1px solid palevioletred;
  background: rgba(255, 255, 0, 0.25);
  cursor: pointer;
}

.gfe-street-art-choose-cell:hover {
  background: rgba(255, 255, 0, 0.5);
}

.gfe-street-art-marked {
  background: rgba(0, 128, 0, 0.5);
}

.gfe-street-art-score {
  position: absolute;
  top: 73.4%;
  left: 85.7%;
  width: 4.3%;
  height: 4%;
  transform: rotate(2.4deg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.gfe-track-score-blue {
  color: #4971e4;
}

/* Round tracker */

.gfe-round-tracker {
  position: absolute;
  top: 14%;
  left: 44%;
  width: 33%;
  height: 7%;
  border: solid 2px yellow;
}

.gfe-round-tracker-circle {
  position: absolute;
  width: 3.8%;
  height: 25%;
  border-radius: 50%;
  border: 4px solid black;
}
