{
    "name": "BGA",
    "host": "1.studio.boardgamearena.com",
    "protocol": "sftp",
    "port": 2022,
    "username": "macbas0",
    "privateKeyPath": "/home/marco/.ssh/id_ed25519_bga",
    "remotePath": "/greetingsfromearth",
    "uploadOnSave": true,
    "ignore": [".git", ".vscode", "misc", "node_modules", "_ide_helper.php"],
    "syncOption": {
        "skipCreate": false,
        "delete": true
    },
    "watcher": {
        "files": "**/*.{js,css}",
        "autoUpload": true,
        "autoDelete": true
    }
}
